services:
  postgres:
    image: postgres:17.5
    container_name: lms-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: lms-backend
      POSTGRES_PASSWORD: lms-backend
      POSTGRES_DB: lms-backend
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - lms-network

  redis:
    image: redis:8
    container_name: lms-redis
    command: >
      redis-server
        --port 0
        --tls-port 6379
        --tls-cert-file /certs/redis.crt
        --tls-key-file  /certs/redis.key
        --tls-ca-cert-file /certs/ca.crt
        --tls-auth-clients yes
        --tls-protocols "TLSv1.2 TLSv1.3"
        --dir /data
        --appendonly yes
    volumes:
      - redis-tls-certs:/certs:ro
      - redis-data:/data
    ports:
      - "6379:6379"
    networks:
      - lms-network

volumes:
  postgres_data:
  redis-data:
  redis-tls-certs:

networks:
  lms-network:
    driver: bridge
