services:
  lms-backend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - PORT=$PORT
    container_name: lms-backend
    restart: always
    env_file:
      - .env
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.lms-backend.rule=Host(`stage.sqwoz-hrov.ru`) && PathPrefix(`/lms-api`)'
      - 'traefik.http.routers.lms-backend.entrypoints=websecure'
      - 'traefik.http.routers.lms-backend.tls=true'
      - 'traefik.http.routers.lms-backend.tls.certresolver=myresolver'
      - 'traefik.http.services.lms-backend.loadbalancer.server.port=${PORT}'
      - 'traefik.http.middlewares.lms-backend-stripprefix.stripprefix.prefixes=/lms-api'
      - 'traefik.http.routers.lms-backend.middlewares=lms-backend-stripprefix@docker'
    networks:
      - traefik
      - lms-network 
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - type: bind
        source: ${VIDEO_UPLOAD_TMP_HOST_DIR}
        target: ${VIDEO_UPLOAD_TMP_DIR}
        bind:
          create_host_path: true
      - type: volume
        source: redis-tls-certs
        target: /certs
        read_only: true

  lms-redis:
    image: redis:8
    container_name: lms-redis
    restart: always
    command: >
      redis-server
        --port 0
        --tls-port 6379
        --tls-cert-file /certs/redis.crt
        --tls-key-file  /certs/redis.key
        --tls-ca-cert-file /certs/ca.crt
        --tls-auth-clients yes
        --tls-protocols "TLSv1.2 TLSv1.3"
        --dir /data
        --appendonly yes
        --requirepass $REDIS_PASSWORD
    volumes:
      - redis-tls-certs:/certs:ro
      - redis-data:/data
    networks:
      - lms-network

networks:
  traefik:
    external: true
    name: $TRAEFIK_NETWORK

  infra_monitoring:
    external: true
    name: $INFRA_MONITORING_NETWORK

  lms-network:
    driver: bridge

volumes:
  redis-data:
  redis-tls-certs:
